*{
    font-family: 'Concert One', cursive;
    box-sizing: border-box  ;
}
html{
    background: rgb(2,0,36);
    background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(0,202,255,1) 0%, rgba(0,241,153,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
}
.btn{
    height: 75px;
    width: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 27px;
    border-radius: 25px;
    border-width: 5px;
    cursor: pointer;
    box-shadow: 0 9px rgb(83, 83, 83);
    transition: all 0.8s
}
.btn:active {
    transition: none;
    box-shadow: 0 5px rgb(83, 83, 83);
    transform: translateY(4px);
  }
#btn1{
    background-color: rgb(72, 253, 72);
}
#btn1:hover{
    background-color: rgb(72, 199, 72);
}
#btn2{
    background-color: yellow;
}
#btn2:hover{
    background-color: rgb(199, 199, 0);
}
#btn3{
    background-color: rgb(248, 60, 60)
}
#btn3:hover{
    background-color: rgb(180, 57, 57);
}
#btn5{
    background-color: pink
}
#btn5:hover{
    background-color: rgb(170, 126, 133);
}
#btn4{
    width: 180px;
    background-color: rgb(49, 49, 49);
    color: white;
}
#btn4:hover{
    background-color: rgb(27, 27, 27);
}
#btn6{
    background-color: rgb(0, 204, 255);
}
#btn6:hover{
    background-color: rgb(0, 170, 212);
}

body{
    display: flex;
    justify-content: space-around; 
    /* margin-top: 40px; */
    margin-right: 40px;
}
.info{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 110px;
    padding-left: 100px;
    width: 300px;
    height: 250px;
    font-size: 23px;
    text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 210px;
}
#defaultCanvas0{
    margin-top: 250px;
    margin-left: 370px;
}
.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
  
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height:400px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  
  .popupBtn{
    width: 100px;
    color:#222;
    background-color:rgb(109, 228, 13);
    font-size: 27px;
    border-radius: 25px;
    border-width: 5px;
    cursor: pointer;
    box-shadow: 0 9px rgb(83, 83, 83);
    transition: all 0.8s;
    /* margin-bottom: 100px; */
    /* margin-right: 40px; */
    margin-left: 30px;
  }
  .popupBtn:active{
        transition: none;
        box-shadow: 0 5px rgb(83, 83, 83);
        transform: translateY(4px);
  }
.events{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    margin-left: 30px;
  }
#GrassCount{
    background-color: rgb(109, 252, 109);
    border-radius: 5px;
}
#GrassEaterCount{
    background-color: rgb(253, 186, 62);
    border-radius: 5px;
}
#PredatorCount{
    background-color: rgb(255, 82, 82);
    border-radius: 5px;
}
#MiniEaterCount{
    background-color: lightcoral;
    border-radius: 5px;
}
#EnergyCount{
    background-color: lightskyblue;
    border-radius: 5px;
}
#weather{
    font-size: 26px;
}