*{
    font-family: 'Concert One', cursive;
}
html{
    background: rgb(2,0,36);
    background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(0,202,255,1) 0%, rgba(0,241,153,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    margin-left: 100px;

}
.btn{
    height: 75px;
    width: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 27px;
    border-radius: 25px;
    border-width: 5px;
    cursor: pointer;
    box-shadow: 0 9px rgb(83, 83, 83);
    transition: all 0.8s
}
.btn:active {
    transition: none;
    box-shadow: 0 5px rgb(83, 83, 83);
    transform: translateY(4px);
  }
#btn1{
    background-color: rgb(72, 253, 72);
}
#btn1:hover{
    background-color: rgb(72, 199, 72);
}
#btn2{
    background-color: yellow;
}
#btn2:hover{
    background-color: rgb(199, 199, 0);
}
#btn3{
    background-color: rgb(248, 60, 60)
}
#btn3:hover{
    background-color: rgb(180, 57, 57);
}
#btn5{
    background-color: pink
}
#btn5:hover{
    background-color: rgb(170, 126, 133);
}
#btn4{
    background-color: rgb(49, 49, 49);
    color: white;
}
#btn4:hover{
    background-color: rgb(27, 27, 27);
}

body{
    display: flex;
    justify-content: space-around; 
    margin-top: 40px;
    margin-right: 40px;
}
.info{
    margin-top: 150px;
    margin-bottom: 50px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#defaultCanvas0{
    margin-top: 200px;
    margin-left: 450px;
}